<!DOCTYPE html>
<html lang="en">

<head>
  
  <!--IE Compatibility modes-->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!--Mobile first-->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>Project Management Consultancy Firm - Delhi</title>

  <link rel="canonical" href="#" />

  <meta name="description" content="Designheed is an Architectural Project management consultancy firm based in Delhi, offer our clients innovative solutions with a combination of technical proficiency aligned with the ever-evolving requirements.">
  <!-- Meta -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="">

  <!-- Favicon -->
  <!--<link rel="shortcut icon" href="favicon.ico">-->
  <link rel="shortcut icon" href="#">

  <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous"> -->


  <!-- CSS Global Compulsory -->
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
  <!-- CSS Pages Style -->
  <!-- <link rel="stylesheet" type="text/css" href="http://www.designheed.com/assets/font-awesome/css/font-awesome.css"> -->
  <!-- CSS Customization -->
  <!-- <link rel="stylesheet" href="http://www.designheed.com/assets/css/custom.css"> -->
  <!-- <link rel="stylesheet" type="text/css" href="http://www.designheed.com/assets/css/animate.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet"> -->

  <!-- <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet"> -->


  <!-- before-head -->
  <!-- /.before-head -->
</head>

<body class="">

    <header>
      <div class="top">
        <div class="container paddingzero">
           <div class="col-md-8" style="color:#fff;">
              Trusted partner for all architectural needs
           </div>
           <div class="col-md-4" style="color:#fff;">
              <div class="col-sm-6"><i class="fa fa-phone" aria-hidden="true"></i> +91 11 41256913</div>
              <div class="col-sm-6"><i class="fa fa-globe" aria-hidden="true"></i> Global</div>
           </div>
        </div>
        <div class="clearfix"></div>
     </div>
     
     <div class="container paddingzero">
        <div class="col-md-12 paddingzero">
           <div class="col-md-3 paddingzero">
              <div class="logo"><a href="http://www.designheed.com/index.php"><img src="http://www.designheed.com/assets/images/logo.png" alt=""></a></div>
           </div>
           <div class="col-md-9">
              <nav class="navbar navbar-inverse" role="navigation">
                 <div class="container-fluid paddingzero">
                    <div class="navbar-header">
                       <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                       <span class="icon-bar"></span>
                       <span class="icon-bar"></span>
                       <span class="icon-bar"></span>                        
                       </button>
                       <!-- <a class="navbar-brand" href="#">Menu</a> -->
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                       <ul class="nav navbar-nav">
                          <li><a href="http://www.designheed.com/">Home</a></li>
                          <li><a  href="http://www.designheed.com/about-us">About us </a></li>
                          
                          <li class="dropdown">
                             <a class="dropdown-toggle" data-toggle="dropdown" href="http://www.designheed.com/our-services">Services <b class="caret"></b></a>
                             <ul class="dropdown-menu">
                                <li><a href="http://www.designheed.com/our-services">Project Management Consultancy</a></li>
                                <li><a href="#">Design</a></li>
                             </ul>
                          </li>
                          <li><a href="http://www.designheed.com/our-process">Our Process</a></li>
                          <li><a href="http://www.designheed.com/why-choose-us">Why Choose Us</a></li>
                          <li><a href="http://www.designheed.com/contact-us">Contact Us</a></li>
                       </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                 </div>
                 <!-- /.container-fluid -->
              </nav>
           </div>
        </div>
     </div>
     <script>
        $(function(){
        $(".dropdown").hover(            
                function() {
                    $('.dropdown-menu', this).stop( true, true ).fadeIn("fast");
                    $(this).toggleClass('open');
                    $('b', this).toggleClass("caret caret-up");                
                },
                function() {
                    $('.dropdown-menu', this).stop( true, true ).fadeOut("fast");
                    $(this).toggleClass('open');
                    $('b', this).toggleClass("caret caret-up");                
                });
        });
     </script>
     <div class="container paddingzero bdrtop">
        <div class="col-md-12 paddingzero">
        </div>
     </div>
     
    
    
    </header>
    



    <div class="container paddingzero">
    
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
    
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <img src="http://www.designheed.com/assets/images/home_banner.png" alt="">
        
        </div>
    
        <div class="item">
          <img src="http://www.designheed.com/assets/images/slider2.jpg" alt="">
        <div class="carousel-caption">
          
          </div>
          </div>
        
      
    
        <div class="item">
          <img src="http://www.designheed.com/assets/images/slider.jpg" alt="">
        <div class="carousel-caption">
           
          </div>
          </div>
        </div>
    
    
      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    
    </div>
    <!-- slider close -->



    <!-- content area -->
<div class="container">
  <div class="row">
  <div class="col-md-8 hcont">
  <h1 style="font-size:54px; color:#4b4b4b; font-family: 'Roboto', sans-serif;">A Global Outsourcing <span style="color:#48076d;">Design Company</span></h1><br>
  <p>Designheed is a distinguished Global Outsourcing Company established with an objective to offer a combination of technical proficiency and qualified professionals to cater to our client’s ever evolving requirements. 
  <br><br>
  As a frontrunner in global designing companies, Designheed intends to be a model of brilliance by providing safe, innovative, sustainable and cost-effective solutions.<br> 
  Our end to end offerings and highly experienced team collectively comprehend individual delivery models , enabling a quicker respond to services at reasonable charges. In addition, working alongside tight deadlines and overcoming resource constraints of our clients is the key challenge we focus on and ensure to overcome the same by embracing our capabilities to the core. 
  </p>
  </div>
  
  <div class="col-md-4">
  <ul style="list-style:none; margin-top: 41px; border: 1px solid #48076d; padding: 20px; font-family: 'Roboto', sans-serif;">
  <li style="border-bottom: 1px solid #a180b4;  margin-bottom: 20px;"> 
  <div style="color:#48076d; font-size:20px;">Innovation <img src="http://www.designheed.com/assets/images/innovation.png" alt=""></div>
  <p style="font-size:14px; font-weight:300;">Committed to delivering high quality projects and innovate design solutions.</p>
  </li>
  
  <li style="border-bottom: 1px solid #a180b4;  margin-bottom: 20px;"> 
  <div style="color:#48076d; font-size:20px;">Vision  <img src="http://www.designheed.com/assets/images/vision.png" alt=""></div>
  <p style="font-size:14px; font-weight:300;">At Design heed Architecture + Design, our Vision is to collaboratively build the future imagined.</p>
  </li>
  
  
  <li> 
  <div style="color:#48076d; font-size:20px;">Mission <img src="http://www.designheed.com/assets/images/mission.png" alt=""></div>
  <p style="font-size:14px; font-weight:300;">To collaboratively deliver unforgettable architectural design and innovative technical solutions for clients intrepid multifamily residential and hospitality leaders.</p>
  </li>
  
  </ul>
  
  </div>
  
  
  </div>
  
  
  
  </div>
  

  <div class="container">
    <div class="col-md-12"><span style="font-size:26px; font-family: 'Roboto', sans-serif;font-weight:600;">Specializing In</span></div>
    <ul class="spc" style="list-style:none; display:inline;"><br><br>
    <li>
    <div class="col-sm-12" style="margin-bottom:20px;"><img src="http://www.designheed.com/assets/images/architect.png" alt=""></div>
    <div class="col-sm-12" style="margin-bottom:20px;">Architectural Design</div>
    <div class="buttonreadmore">Read more</div>
    </li>
    <li>
    <div class="col-sm-12" style="margin-bottom:20px;"><img src="http://www.designheed.com/assets/images/interior_designing.png" alt=""></div>
    <div class="col-sm-12" style="margin-bottom:20px;">3D Interior Designing</div>
    <div class="buttonreadmore">Read more</div>
    </li>
    
    <li><div class="col-sm-12" style="margin-bottom:20px;"><img src="http://www.designheed.com/assets/images/mep_de.png" alt=""></div>
    <div class="col-sm-12" style="margin-bottom:20px;">MEP Services</div>
    <div class="buttonreadmore">Read more</div>
    </li>
    
    <li><div class="col-sm-12" style="margin-bottom:20px;"><img src="http://www.designheed.com/assets/images/Bim.png" alt=""></div>
    <div class="col-sm-12" style="margin-bottom:20px;">Bim Services</div>
    <div class="buttonreadmore">Read more</div>
    </li>
    
    <li><div class="col-sm-12" style="margin-bottom:20px;"><img src="http://www.designheed.com/assets/images/revit.png" alt=""></div>
    <div class="col-sm-12" style="margin-bottom:20px;">Revit Solutions</div>
    <div class="buttonreadmore">Read more</div>
    </li>
    </ul>
    
    </div>

    
<div class="container" style="margin-top:50px;">
  
  <h2 style="font-size:54px; color:#4b4b4b; font-family: 'Roboto', sans-serif;">Our <br> <span style="color:#48076d;">Work Progress</span></h2><br>
  <p>We support our customers’ business intentions and constantly provide projects with<br>
  <b>Exceptional Safety and Eco-Friendly Performance</b> </p>
  
  <div class="row"><br><br>
  <div class="col-md-5">
  
   <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">     
  <!-- Image Map Generated by http://www.image-map.net/ -->
  <img src="http://www.designheed.com/assets/images/work_progress.png" usemap="#image-map">
  
  <map name="image-map">
      <area target="_blank" alt="Estimation Procedure" title="Estimation Procedure" href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true" coords="33,99,145,29" shape="rect">
      <area target="_blank" alt="Project Management Planning Framework" title="Project Management Planning Framework" href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" coords="156,21,272,106" shape="rect">
      <area target="_blank"  title="Design Drawing" href="#designdrawing" role="tab" id="designdrawing-tab" data-toggle="tab" aria-controls="design-drawing-tab" coords="195,133,288,229" shape="rect">
      <area target="_blank" alt="Project Monitoring" title="Project Monitoring"  href="#projectmonitoring" role="tab" id="projectmonitoring-tab" data-toggle="tab" aria-controls="projectmonitoring-tab"  coords="93,203,189,285" shape="rect">
      <area target="_blank" alt="Project Closeout" title="Project Closeout" href="#projectcloseout" role="tab" id="projectcloseout-tab" data-toggle="tab" aria-controls="projectcloseout-tab" coords="4,128,84,208" shape="rect">
  </map>
  </div>
  
  <!-- tab scrip -->
  <script>
  (function($) {
  
    'use strict';
  
    $(document).on('show.bs.tab', '.nav-tabs-responsive [data-toggle="tab"]', function(e) {
      var $target = $(e.target);
      var $tabs = $target.closest('.nav-tabs-responsive');
      var $current = $target.closest('li');
      var $parent = $current.closest('li.dropdown');
      $current = $parent.length > 0 ? $parent : $current;
      var $next = $current.next();
      var $prev = $current.prev();
      var updateDropdownMenu = function($el, position){
        $el
          .find('.dropdown-menu')
          .removeClass('pull-xs-left pull-xs-center pull-xs-right')
          .addClass( 'pull-xs-' + position );
      };
  
      $tabs.find('>li').removeClass('next prev');
      $prev.addClass('prev');
      $next.addClass('next');
      
      updateDropdownMenu( $prev, 'left' );
      updateDropdownMenu( $current, 'center' );
      updateDropdownMenu( $next, 'right' );
    });
  
  })(jQuery);
  </script>
  </div>
  
  <!-- close -->
  
  
  <div class="col-md-7">
        
  <!-- tab code -->
  <div id="myTabContent" class="tab-content">
          <div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">
         <p>
         
         1.a. Understanding the Project requirement
  
  The team gets the complete briefing with the client. This information is collated and assigned to different
  departments, Inputs are then sorted, filtered &amp; presented in a clear &amp; concise manner to the client.
  <br><br>
  1.b. Submission for review<br>
  A review is held between the client &amp; our team to ensure that all are on the same page with respect to
  the project demands.
  <br><br>
  1.c. A Standard form of quotation is signed after reviewing all the aspects of projects which includes
  time, extra costs &amp; any other miscellaneous expenditure. This quotation is forwarded to the client.
  <br><br>
  1.d. Final Agreement<br>
  Once the final budget is approved by the client, the concerned department initiate the documentation of
  final agreement with the client.<br>
  Before drafting the final agreement, the document cleared &#39;under 1.b.&#39; is signed off to set up the project
  scope in totality.
  
  </p>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="profile" aria-labelledby="profile-tab">
            <p>
              Subsequently, the functions of design project management planning framework generally include the following: <br>
              
              1. <b>Scope Management :</b> Indicators describe the project’s overall objectives, purpose, and results in operational and measurable terms. They enable reliable monitoring and evaluation of the project. Specification of project objectives and plans including delineation of scope, budgeting, scheduling, setting performance requirements.
  <br><br>
  2.<b> Schedule Management:</b> Implementation of various operations through proper coordination and
  control of planning, design, estimating, contracting in the entire process with in a stipulated time
  period.<br><br>
  3.<b> Quality Management :</b> Maximization of efficient resource utilization through available resources
  by adopting latest technologies &amp; software along with the expert &amp; skillful design professionals<br><br>
  4. <b>HR management :</b> Assign a dedicated project team i.e. An Architect,3D designers, quality
  testing engineer, Other relevant professionals based on the project requirements &amp; an exclusive
  &#39;Project Manager&#39;.
  
            </p>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="designdrawing" aria-labelledby="designdrawing-tab">
            <p>
             <b> 3.a Design Development</b>
  Based on the mutually agreed scope document &amp; design development documents consisting of sketches,
  drawings and other documents to fix and describe the size and character of the entire design project in
  the form of &#39;Clay-Model&#39; will be developed and presented accordingly.Once a &#39;Clay-Model&#39; is developed, it is presented to the client for review and adjustment to the design.
  The design is then finalized upon approval by the client.<br><br>
  <b>3.b Drawing Development</b>
  Once the Design Development Documents are approved, the assigned team then move on to the
  architectural drawings and specifications phase. These are accurate and scaled drawings that set forth in
  detail the requirements of the approved design. These include all floor plan, exterior elevations, interior
  elevations, cross sections,  site plan, and architectural details with material specification ( subject to the
  availability).  Basically all drawings and specifications that related to the aesthetics of the project subject
  to the project scope.
            </p>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="projectmonitoring" aria-labelledby="projectmonitoring-tab">
            <p>
              The assigned Project manager ensure the competencies &amp; availability of human resources to provide
  the service required and advise the client accordingly within a stipulated time frame. Clients can directly
  rely on him/her &amp; ask about the project progress.
            </p>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="projectcloseout" aria-labelledby="projectcloseout-tab">
            <p>
              A project manager takes the final approval &amp; clearance of successfully completion of project &amp; ask client
  for any further alteration if required. After taking the final satisfactory call from the client, A final invoice is
  sent to the client along with the feedback form.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- tab close -->
  
  
  


  <footer>
    <div class="container">
      <ul class="list-inline menubottom">
        <li class="active"><a href="http://www.designheed.com/">Home</a></li>
        <li><a href="http://www.designheed.com/about-us">About us </a></li>
        <li><a href="http://www.designheed.com/our-services">Services</a></li>
        <li><a href="http://www.designheed.com/our-process">Our Process</a></li>
        <li><a href="http://www.designheed.com/why-choose-us">Why Choose Us</a></li>
        <li><a href="http://www.designheed.com/contact-us">Contact Us</a></li>
         <li><span class="text-right left" style="float: right;">Copyright © 2017 - Designheed | All Rights Reserved</span></li>
      </ul>

    </div>
  </footer>
  <!-- Bootstrap js -->
  <script src="http://www.designheed.com/assets/js/jquery.min.js"></script>
  <script src="http://www.designheed.com/assets/js/bootstrap.min.js"></script>
  <!-- before-body -->
  <script type="text/javascript">
    $("#subscribe-email").submit(function () {
      var form_data = $("#subscribe-email").serialize();
      $.ajax({
        url: "http://www.designheed.com/enquiry",
        data: form_data,
        type: 'POST',
        success: function (response) {
          if (response._type == 'success') {
            $('#error_msg').html('');
            $('#success_msg').html(response._msg);
          } else {
            $('#success_msg').html('');
            if (response._err_type == 'validation') {
              $('#error_msg').html(response._error_msg);
            } else {
              $('#error_msg').html(response._msg);
            }
          }
        },
        complete: function () {
          $("#subscribe-email")[0].reset();
        },
        error: function () {
        }
      });
    });
  </script>
  <!-- /.before-body -->
</body>

</html>